@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow-x: hidden;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245, 245, 245);
    font-weight: 900;
    border: 3px solid rgb(30, 58, 138);
    aspect-ratio: 1;
    border-radius: 50%;
}

.logo-text-w {
    color: rgb(30, 58, 138, 0.92);
}

.logo-text-m {
    color: rgb(12, 74, 180, 0.75);
}
footer li:hover {
    transform: scaleX(1.1);
    transition: all 200ms linear;
}